.container {
  max-width: 800px;
  display: flex;
  display: grid;
  place-items: center;
}

h1 {
  font-size: 2.5rem;
  margin: 39vh 0 20px;
  text-align: center;
}

p {
  font-size: 1.2rem;
  margin: 0 0 40px;
  text-align: center;
}

.button {
  background-color: #007BFF;
  color: #ffffff;
  padding: 15px 30px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;

}
.image {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  height: 333px;
  width: auto;
  border: 2px solid rgb(0, 0, 0, 0.1);
}